<div>
    <div style="clear:both;"></div>

    <div class="block">
        <div class="block-title title" style="float:left;">
            <strong data-bind="text: label"></strong>
        </div>

        <div id="recommendations-nav" class="owl-nav" style="float:right;"></div>

        <div style="clear:both;"></div>

        <div class="block-content content">
            <div class="products wrapper grid products-grid">
                <ol  data-bind="foreach: recommendations, afterRender" class="products list items product-items owl-carousel owl-theme" id="mp-list-items">
                    <li class="item product product-item" >
                        <div class="product-item-info">
                            <a data-bind="attr: {'href': '/' + $data.additional_fields.url_key + '.html?gpr=1'}" class="product photo product-item-photo">
                            <span class="product-image-container" style="width:152px;">
                                <span class="product-image-wrapper" style="padding-bottom: 125%;">
                                    <img data-bind="attr: {'src': '/pub/media/catalog/product/' + $data.additional_fields.image}" class="product-image-photo" max-width="152" max-height="190"></span>
                            </span>
                            </a>
                            <div class="product details product-item-details">
                                <strong class="product name product-item-name">
                                    <a data-bind="text: $data.additional_fields.name" class="product-item-link" title="Maya Tunic" href="http://magento2.local/index.php/maya-tunic.html"></a>
                                </strong>

                                <div class="price-box price-final_price" data-role="priceBox"><span class="normal-price">
                                <span class="price-container price-final_price tax weee">
                                    <span class="price-label">As low as</span>
                                    <span data-price-type="finalPrice" class="price-wrapper "><span class="price" data-bind="text: parseFloat($data.additional_fields.price).toFixed(2).toString().replace('.', ',') + ' ' + $parent.currentCurrencySymbol">'</span></span>
                                    </span>
                                </span>
                                </div>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
