.owl-item {
  li.product-item {
    width: 100% !important;

    .price-box{
      margin: 10px 0 0 0;
    }

    .product-item-info {
      margin: 0 auto;
      padding: 10px;
      @media all and (min-width:640px) {
        &:hover {
          padding: 9px;
        }
      }
    }
  }
}

.owl-nav{
  .owl-next{
    margin-left: 4px;
  }
}